.country {
  background-color: rgb(63, 104, 105);
  color: white;
  margin: 25px 10px;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 10px;
  transition: 0.5s;
}
.country:hover {
  transform: scale(1.1);
}
.country img {
  width: 80%;
  height: 40%;
  margin-top: 20px;
}
.country button {
  border: none;
  width: 80px;
  height: 30px;
  background-color: goldenrod;
  font-weight: bolder;
  border-radius: 5px;
}
.country button:hover {
  background-color: red;
  color: white;
}
